<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Dashboard</li>
    </ul>
  </div>
</div>

<ul class="nav nav-tabs">
  <li [% ' class="active"' IF (c.req.uri == c.uri_for(c.controller.action_for('profile'))) %]>
    <a href="[% c.uri_for(c.controller.action_for('profile')) %]">Profile</a>
  </li>
  [% IF !c.check_user_roles('admin') %]
  <li [% ' class="active"' IF (c.req.uri == c.uri_for(c.controller.action_for('list_trackhubs'))) %]>
    <a href="[% c.uri_for(c.controller.action_for('list_trackhubs')) %]">My track collections</a>
  </li>
  <li [% ' class="active"' IF (c.req.uri == c.uri_for(c.controller.action_for('submit_trackhubs'))) %]>
    <a href="[% c.uri_for(c.controller.action_for('submit_trackhubs')) %]">Submit/Update</a>
  </li>
  [% ELSE %]
  [% c.log.debug('User is an admin and can see extra bits') %]
  <li [% ' class="active"' IF (c.req.uri == c.uri_for(c.controller.action_for('list_providers'))) %]>
    <a href="[% c.uri_for(c.controller.action_for('list_providers')) %]">TrackHub Providers</a>
  </li>
  [% END %]
</ul>
