<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script type="text/javascript">
    
  // Load the Visualization API and the columnchart package.
  google.charts.load('current', {'packages':['corechart']});
      
  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);
      
  function drawChart() {
    var jsonData = $.ajax({
        url: "/api/stats/summary",
        dataType: "string",
        async: false
        }).responseText;

    console.log(jsonData);
    
    // Create our data table out of JSON data loaded from server.
    // var data = new google.visualization.DataTable(jsonData);
    var data = google.visualization.arrayToDataTable(JSON.parse(jsonData));
    var options = {
    	width: 450,
    	height: 200,
    	legend: { position: "none" },
    	chartArea: { left: 20 },
    	//hAxis: { slantedText: true, slantedTextAngle: 30 },
    	backgroundColor: '#fafafa'
    };
    
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

</script>

<div class="alert alert-danger" role="alert">
  <p>
    We are in the process of deploying a redeveloped version of TrackHubRegistry. Due to this, there will be disruption
    in service from 6th December 2022. Apologies for any inconvenience this causes.
  </p>
  <p>
    A pre-release version of the new site is available <a href="https://test.trackhubregistry.org/" target="_blank" rel="noopener noreferrer">here</a>.
  </p>
</div>

<div class="jumbotron background-color-primary-accent">
  <div class="container content">
    <div>
      <h1>The Track Hub Registry</h1>
      <h3>A global centralised collection of publicly accessible track hubs</h3>
      <div class="underline"></div>
      <p><small>The goal of the Track Hub Registry is to allow third parties to advertise <a href="http://genome.ucsc.edu/goldenPath/help/hgTrackHubHelp.html#Intro" target="_blank">track hubs</a>, and to make it easier for researchers around the world to discover and use track hubs containing different types of genomic research data.</small></p>

      <form role="search" method="post" action="[% c.uri_for('/search') %]">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search by keywords: hg19, epigenomics, mouse ..." id="search-box" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="search-button">
              <span class="glyphicon glyphicon-search glyphicon-white"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<section id="">
<div class="row" style="text-align: justify; text-justify: inter-word;">
  <div class="col-sm-4">
    <div class="box-progetto">
      <h2><span class="glyphicon glyphicon-upload"></span> Submit Data</h2>

      <blockquote>
        <p><em>I want maximum visibility for my track hubs.</em></p>
      </blockquote>

      <p>External track hub providers can register and submit their track databases to the registry. <a href="[% c.uri_for('/user/register') %]">Registration</a> is web-based and done on this site; submission happens programatically via our RESTful API. Once submitted and successfully validated, the track dbs become available for search by other users worldwide, allowing for automatic and rapid integration into a genome browser.</p>
      <a href="[% c.uri_for('/docs/management/overview') %]" class="btn btn-primary">How to Submit</a>
    </div>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-4">
    <div class="box-progetto">
      <h2><span class="glyphicon glyphicon-search"></span> Access Data</h2>

      <blockquote>
        <p><em>How do I find omics tracks for an assembly of my favourite organism?</em></p>
      </blockquote>

      <p>Track hubs can be searched based on metadata information. Free text <a href="[% c.uri_for('/docs/search') %]">search</a> is provided from the search box in the header of all track hub Registry web pages and in the middle of this page. Advanced search options are available for more specific and customised searches.</p>
      <a href="[% c.uri_for('/docs/search/advanced') %]" class="btn btn-primary">Help on Advanced Search</a>
    </div>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-4">
    <div class="box-progetto">
      <h2><span class="glyphicon glyphicon-stats"></span> Stats</h2>
      <p>A brief summary of the data content, hover over the column for exact numbers.</p>
      <div id="chart_div"></div>
  </div><!-- /.col-sm-6 -->
</div>
</section>