[% IF template.name.match('\.(css|js|txt)');
     debug("Passing page through as text: $template.name");
     content;
   ELSE;
     debug("TT bootstrap wrapper");
     content WRAPPER site/bootstrap.tt;
   END;
-%]
