<!--<div class="page-header">
  <h1>TrackHub Registry &amp; Catalyst Example</h1>
  <p class="lead bg-info">This a centralised, global collection of publicly accessible TrackHubs.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>-->

<header class="header-sezione">
 <h2>The Home for TrackHubs</h2>
</header>
<section id="presentazione">
<div class="row">
  <div class="col-sm-12">
    <div class="box-lavoro-evidenza">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec velit nec velit blandit imperdiet. Duis metus enim, fringilla at auctor tincidunt, euismod eget massa. Nulla hendrerit, velit sed suscipit pellentesque, ipsum massa fringilla ex, quis vestibulum purus arcu sed dolor. Mauris a pulvinar metus, et molestie lorem. Quisque sit amet magna vestibulum, pulvinar ligula in, tristique nibh. Aliquam vitae sodales nunc. Integer at lacinia risus. Integer consectetur eu lorem eget maximus. Mauris eget nisl magna. In non lectus orci. Sed vehicula metus felis, non pellentesque justo feugiat ullamcorper. Duis scelerisque risus urna, ac porta elit rhoncus et. Nam nec ex non massa fermentum ultrices.</p>
     <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div><!-- /.col-sm-12 -->
</div>
</section>
<section id="">
<div class="row">
  <div class="col-sm-6">
    <div class="box-progetto">
      <h3>Lorem ipsum sit dolor</h3>
      <!--<p class="text-center"><img src="assets/img/pencil-1.jpg" class="img-thumbnail img-responsive"></p>-->
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
      <!--<a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Acquista il pacchetto</a>-->
    </div>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <div class="box-progetto">
      <h3>Lorem ipsum sit dolor</h3>
      <!--<p class="text-center"><img src="assets/img/pencil-1.jpg" class="img-thumbnail img-responsive"></p>-->
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
      <!--<a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-shopping-cart"></span> Acquista il pacchetto</a>-->
    </div>
  </div><!-- /.col-sm-6 -->
</div>
</section>