[% META title = 'Search the TrackHub Registry' -%]
<div align="center">
<form method="post" action="[% c.uri_for('search') %]/test/trackhub">
  <input type="text" name="q">
  <input type="submit" name="Submit" value="Submit">
</form>
</div>