<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" [%#
    %]"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[% template.title or "My Catalyst App!" %]</title>
<link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
</head>
 
<body>
<div id="outer">
<div id="header">
    [%# Your logo could go here -%]
    <img src="[% c.uri_for('/static/images/btn_88x31_powered.png') %]" />
    [%# Insert the page title -%]
    <h1>[% template.title or site.title %]</h1>	
    <hr>
</div>
 
<div id="bodyblock">
<!--<div id="menu">
    Navigation:
    <ul>
        <li><a href="[% c.uri_for('/books/list') %]">Home</a></li>
        <li><a href="[% c.uri_for('/')
            %]" title="Catalyst Welcome Page">Welcome</a></li>
    </ul>
</div>--><!-- end menu -->
 
<div id="content">
    [%# Status and error messages %]
    <span class="message">[% status_msg %]</span>
    <span class="error">[% error_msg %]</span>
    [%# This is where TT will stick all of your template's contents. -%]
    [% content %]
</div><!-- end content -->
</div><!-- end bodyblock -->
 
<div id="footer">Copyright (c) The TrackHub Registry </div>
</div><!-- end outer -->
 
</body>
</html>