@import "http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic";

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #fafafa; /*transparent;*/
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

.content {
    text-align: center;
}

.underline {
    border-bottom: 1px solid #b0b0b0;
    margin: 20px auto 15px;
    width: 20%;
}

/*********************************
  Overridings for the yeti theme 
**********************************/

/* .navbar { */
/*   min-height: 100px; */
/* } */

.jumbotron {
  background-color: #ffffff;
}

h3.panel-title {
  padding-top: 5px; 
  padding-left: 10px;
  font-weight: bold;
}

.panel-heading > a {
  color: #ffffff;
}

.close {
  color: #5bc0de;
}

#header-search-button {
  height: 31px;
}

/**********************************/

span.facet-count {
    color: #999999;
    float: right;
    position: relative;
}

div.hub-summary-compact {
    line-height: 1.2em;
    padding: 5px 3px;
}
span.hub-title {
    font-weight: bold;
    line-height: 1.8em;
}
div.hub-summary-box, div.hub-summary-caption {
    line-height: normal;
    text-align: center;
    vertical-align: bottom;
}
div.hub-summary-box {
    background-attachment: scroll;
    background-color: grey;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: white;
    float: left;
    font-size: 1.85em;
    line-height: 0.8;
    padding: 7px 1px 3px;
    width: 5ex;
}
div.hub-summary-score {
    margin: 0 8px 0 3px;
}
div.hub-summary-caption {
    font-size: 0.5em;
}

*/

/* Support for bootstrap 3 dropdown menus */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

