<!--<div class="page-header">-->
<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a>Docs</a></li>
      <li><a>API</a></li>
      <li>Registration</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" style="margin-top: 25px;">
    <div id="search-sidebar-left">
        <div class="panel panel-primary">
	  <div class="panel-heading">API Docs</div>
          <div class="panel-body">
	    <ul class="nav nav-list">
	      <li><a href="[% c.uri_for('/docs/apis') %]">TH Registry APIs</a></li>
	      <li><a href="[% c.uri_for('/docs/api/modelling') %]">Modelling TrackHubs</a></li>
	      <li><a href="[% c.uri_for('/docs/api/info') %]">Info API</a></li>
	      <li><a>Registration API</a>
	        <ul>
		  <li><a href="[% c.uri_for('/docs/api/registration#authentication') %]">Authentication</a></li>
		  <li>
		    <a href="[% c.uri_for('/docs/api/registration#workflow') %]">A simplified RESTful workflow</a>
		    <ul>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/login') %]">Logging in</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/thdelete') %]">Registering TrackHubs</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/thlist') %]">Retrieve list of TrackHubs</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/thupdate') %]">Updating TrackHubs</a></li>
		      <li><a style="font-weight: bold;">Deleting TrackHubs</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/logout') %]">Log out</a></li>
		    </ul>
		  </li>
		  <li><a href="[% c.uri_for('/docs/api/registration/reference') %]">API Reference</a></li>
		</ul>
	      </li>
	      <li><a href="[% c.uri_for('/docs/api/search') %]">Search API</a></li>
	    </ul>
          </div> 
	</div>
    </div> <!-- sidebar -->
  </div>

  <div class="col-sm-9" style="text-align: justify; text-justify: inter-word;">
  <h2>A Simplified RESTful workflow</h2>

  <h3 id="delete">Deleting Registered TrackHubs</h3>
  <p>
    Suppose one of your remote public hubs does not exist or it's not public any more, or you simply don't want to make it available for search in the TrackHub Registry. Since a track hub in not directly stored in the Registry, to remove it you have to delete its corresponding records, i.e. <u>all</u> the trackDb entities stored in the Registry which are associated to the hub. For this, you need their URIs which you can get by making a request to the <a href="">GET /api/trackhub</a> endpoint and examining the <mark>trackdbs</mark> array of the object representing the track hub under consideration, as explained in <a href="[% c.uri_for('/docs/api/registration/workflow/thlist') %]">Retrieve the list of registered TrackHubs</a>.
  </p>
  
  <h4>Notes</h4>
  <p>
    Alternatively, this operation can be done more simply using the <a href="[% c.uri_for('/docs/dashboard#status') %]">web interface</a>.
  </p>

  <h4>Prerequisites</h4>
  <p>
    Verify that:
    <ul>
      <li>your client has successfully <a href="[% c.uri_for('/docs/api/registration/workflow/login') %]">logged in</a>  and have, as such, obtained a valid authentication token;</li>
      <li>you've got the IDs of the trackDb documents stored in the Registry associated with the track hub</li>
    </ul>
  </p>

  <h4>Procedure</h4>
  <p>
    <ol>
      <li>Make multiple requests to the <a href="[% c.uri_for('/docs/api/registration/reference#delete_trackdb') %]">DELETE /api/trackhub/:id</a> endpoint, each one with the URI of a trackDb associated with the track hub you want to delete. As usual, the request includes a <mark>User</mark> header with your username and an <mark>Auth-Token</mark> header with the given authentication token;</li>
      <li>Examine the response. The response code indicates whether the request succeeded, or how it failed;</li>
      <li>Each successful request returns a JSON object representing the deleted trackDb.</li>
    </ol>
  </p>

  <h4>Example: track hub deletion request and response</h4>
  <p>
    In this example, we follow the pattern of the previous steps where we have registered and updated the <a target="_blank" href="http://genome-test.cse.ucsc.edu/~hiram/hubs/Plants/hub.txt">CSHL Biology of Genomes meeting 2013 demonstration assembly hub</a>. We now want to delete its records in the Registry, corresponding to three trackDbs associated to the an equivalent number of plant assemblies. In the following we assume you've already got the URIs of these entities. We then make three independent requests to <a href="[% c.uri_for('/docs/api/registration/reference#delete_trackdb') %]">DELETE /api/trackhub/:id</a> endpoint, each one with a different trackDb ID:
  </p>

  <p>
    Request 1 (delete Ricinus communis assembly data):
    <pre>
      DELETE https://www.trackhubregistry.org/api/trackdb/KRBr5PS7RmapaFr7ofpTBA
      User: exampleuser
      Auth-Token: 6l5/GuIiOSCywuSI9HF1VU97clwb/CXPDFS0MyAB/HCZuxtjQBj4uORZL8NY3Yhi
    </pre>
    Response:
    <pre>
      HTTP/1.0 200 OK
      ...
      {
        // Ricinus communis trackDb object
	...
      }    
    </pre>
    Request 2 (delete Brassica rapa assembly data):
    <pre>
      DELETE https://www.trackhubregistry.org/api/trackdb/FOEM87nETMOCOglmm0sSsg
      User: exampleuser
      Auth-Token: 6l5/GuIiOSCywuSI9HF1VU97clwb/CXPDFS0MyAB/HCZuxtjQBj4uORZL8NY3Yhi
    </pre>
    Response:
    <pre>
      HTTP/1.0 200 OK
      ...
      {
        // Brassica rapa trackDb object
	...
      }    
    </pre>
    Request 3 (delete Arabidopsis thaliana assembly data):
    <pre>
      DELETE https://www.trackhubregistry.org/api/trackdb/hB8Npdm1ST2gBwkbQThkVg
      User: exampleuser
      Auth-Token: 6l5/GuIiOSCywuSI9HF1VU97clwb/CXPDFS0MyAB/HCZuxtjQBj4uORZL8NY3Yhi
    </pre>
    Response:
    <pre>
      HTTP/1.0 200 OK
      ...
      {
          // Arabidopsis thaliana trackDb object
	  ...
      }    
    </pre>
  </p>

  <h4 id="errors">What can possibly go wrong</h4>
  <p>
    Remember: <u>always check the response code</u> since it indicates whether the request succeeded, or how it failed.
    <ul>
      <li>if the request is successful, the server returns HTTP response code 200 (OK)</li>
      <li>if the credentials supplied in the authentication header are invalid, the server returns HTTP response code 401</li>
      <li>one of the trackDb URIs might be invalid, because:
        <ul>
	  <li>the trackDb does not belong to the API user. The server in this case returns HTTP response code 400 with the message "Cannot delete: ..."</li>
	  <li>the ID and hence the corresponding trackDb does not exist. The server in this case returns HTTP response code 404 with the message "Could not find: ..."</li>
	</ul>
      <li>if the Registry encountered an unexpected condition which prevented it from fulfilling the request, it returns HTTP response code 500</li>
      <li>if the Registry is currently unable to handle the request due to a temporary overloading or maintenance, it returns HTTP response code 503</li>
    </ul>
  </p>
  
  </div>
</div>
