<!--<div class="page-header">-->
<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a>Docs</a></li>
      <li><a>API</a></li>
      <li>Registration</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" style="margin-top: 25px;">
    <div id="search-sidebar-left">
        <div class="panel panel-primary">
	  <div class="panel-heading">API Docs</div>
          <div class="panel-body">
	    <ul class="nav nav-list">
	      <li><a href="[% c.uri_for('/docs/apis') %]">TH Registry APIs</a></li>
	      <li><a href="[% c.uri_for('/docs/api/info') %]">Info API</a></li>
	      <li><a>Registration API</a>
	        <ul>
		  <li><a href="[% c.uri_for('/docs/api/registration#authentication') %]">Authentication</a></li>
		  <li>
		    <a href="[% c.uri_for('/docs/api/registration#workflow') %]">A simplified RESTful workflow</a>
		    <ul>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/login') %]">Logging in</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/thregister') %]">Registering Track Hubs</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/thlist') %]">Retrieve list of Track Hubs</a></li>
		      <li><a style="font-weight: bold;">Updating Track Hubs</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/thdelete') %]">Deleting Track Hubs</a></li>
		      <li><a href="[% c.uri_for('/docs/api/registration/workflow/logout') %]">Log out</a></li>
		    </ul>
		  </li>
		  <li><a href="[% c.uri_for('/docs/api/registration/reference') %]">API Reference</a></li>
		</ul>
	      </li>
	      <li><a href="[% c.uri_for('/docs/api/search') %]">Search API</a></li>
	    </ul>
          </div> 
	</div>
    </div> <!-- sidebar -->
  </div>

  <div class="col-sm-9" style="text-align: justify; text-justify: inter-word;">
  <h2>A Simplified RESTful workflow</h2>

  <h3>Updating Track Hubs</h3>
  <p>
    Suppose you've updated the structure or content of one of your remote public hubs registered with us. You obviously want the changes to appear on the Registry as well.
  </p>
  <p>
    The procedure is simple and has been already explored in <a href="[% c.uri_for('/docs/api/registration/workflow/thregister') %]">Registering Track Hubs</a>: simply POST the hub URL at <a href="[% c.uri_for('/docs/api/registration/reference#post_trackhub') %]">/api/trackhub</a> again. In case the track hub has already been submitted, the request is interpreted as a request to update the details of the registered track hub. The Registry will delete the existing stored trackDb entities and replace them with the most up-to-date versions obtained by parsing the hub again.
  </p>

  <h4>Prerequisites</h4>
  <p>
    Verify that:
   <ul>
      <li>your client has successfully <a href="[% c.uri_for('/docs/api/registration/workflow/login') %]">logged in</a> and have, as such, obtained a valid authentication token;</li>
    </ul>
  </p>
  
  <h4>Procedure</h4>
    <ol>
      <li>Make a POST request to the <a href="[% c.uri_for('/docs/api/registration/reference#post_trackhub') %]">/api/trackhub</a> endpoint that includes a <mark>User</mark> header with your username and an <mark>Auth-Token</mark> header with the given authentication token;</li>
      <li>Examine the response. The response code indicates whether the request succeeded, or how it failed;</li>
      <li>A successful request returns an array of JSON objects, where each object is a translation of the configuration of a trackDb belonging to the track hub.</li>
    </ol>
  </p>

  <h4>Example: track hub update</h4>
  <p>
    This example updates the registration of the <a target="_blank" href="http://genome-test.cse.ucsc.edu/~hiram/hubs/Plants/hub.txt">CSHL Biology of Genomes meeting 2013 demonstration assembly hub</a>. This time we don't specify a data type, hence it will default to "genomics":
  </p>
  <p>
    Request:
    <pre>
      POST https://www.trackhubregistry.org/api/trackhub
      User: exampleuser
      Auth-Token: 6l5/GuIiOSCywuSI9HF1VU97clwb/CXPDFS0MyAB/HCZuxtjQBj4uORZL8NY3Yhi
      {
        "url": "http://genome-test.cse.ucsc.edu/~hiram/hubs/Plants/hub.txt"
      }
    </pre>
    The response is similar to that already seen in <a href="[% c.uri_for('/docs/api/registration/workflow/thregister') %]">Registering Track Hubs</a> which we don't report here.
  </p>

  <h4 id="errors">What can possibly go wrong</h4>
  <p>
    Remember: <u>always check the response code</u> since it indicates whether the request succeeded, or how it failed.
    <ul>
      <li>if the request is successful, the server returns HTTP response code 200 (OK)</li>
      <li>if the credentials supplied in the authentication header are invalid, the server returns HTTP response code 401</li>
      <li>if your hub is not compliant with the UCSC hub specs, the server returns HTTP response code 400. The body contains the message: "hubCheck report: ..."</li>
      <li>if the hub is not available or cannot be correctly parsed, the server returns HTTP response code 400. The response body message contains the error</li>
      <li>your hub genome subdirectory names must be <a target="_blank" href="https://genome.ucsc.edu/FAQ/FAQreleases.html#release1">valid UCSC DB names</a> (assembly synonyms, e.g. hg38) or you must provide a map from these names to their corresponding INSDC accessions (i.e. assembly accession + version, e.g. <a target="_blank" href="http://www.ncbi.nlm.nih.gov/assembly/GCF_000001405.13">GCA_000001405.1</a>). If neither of the two conditions are met, the server returns HTTP response code 400 with the message "Unable to find a valid INSDC accession for genome assembly [..]"</li>
      <li>if one of the hub trackDb configurations cannot be translated to <a href="[% c.uri_for('/docs/api/modelling') %]">valid JSON</a>, the server returns HTTP response code 400. The body contains the message "Failed: ..." with an output describing the reasons why validation failed</li>
      <li>if the Registry encountered an unexpected condition which prevented it from fulfilling the request, it returns HTTP response code 500</li>
      <li>if the Registry is currently unable to handle the request due to a temporary overloading or maintenance, it returns HTTP response code 503</li>
    </ul>
  </p>

  <h4>Example clients</h4>
  
  <p>
    As already explained, the procedure is equivalent to the registration of a track hub for the first time. You can refer to the workflow section <a href="[% c.uri_for('/docs/api/registration/workflow/thregister') %]">Registering Track Hubs</a> for examples clients in different programming languages.
  </p>

  </div>
</div>
