<!--<div class="page-header">-->
<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a>Docs</a></li>
      <li><a>API</a></li>
      <li>Search</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" style="margin-top: 25px;">
    <div id="search-sidebar-left">
        <div class="panel panel-primary">
	  <div class="panel-heading">API Docs</div>
          <div class="panel-body">
	    <ul class="nav nav-list">
	      <li><a href="[% c.uri_for('/docs/apis') %]">TH Registry APIs</a></li>
	      <li><a href="[% c.uri_for('/docs/api/modelling') %]">Modelling TrackHubs</a></li>
	      <li><a href="[% c.uri_for('/docs/api/info') %]">Info API</a></li>
	      <li><a href="[% c.uri_for('/docs/api/registration') %]">Registration API</a></li>
	      <li><a style="font-weight: bold;"">Search API</a>
	        <ul>
		  <li><a href="#search">POST /api/search</a></li>
		  <li><a href="#trackdb">GET /api/search/trackdb/:id</a></li>
		</ul>
	      </li>
	    </ul>
          </div> 
	</div>
    </div> <!-- sidebar -->
  </div>

  <div class="col-sm-9" style="text-align: justify; text-justify: inter-word;">
  <h2>Search API</h2>

  <h3 id="version">POST /api/search</h3>
  <p>
  </p>
  <p>
  </p>

  <h4>Resource Information</h4>
  <table class="table" style="width: auto;">
    <tbody>
      <tr>
        <th>Response formats</th>
	<td>JSON</td>
      </tr>
      <tr>
        <th>Authentication</th>
	<td>No</td>
      </tr>
      <tr>
        <th>Rate Limited</th>
	<td>No</td>
      </tr>
    </tbody>
  </table>

  <h4>Parameters</h4>
  <p>None</p>

  <h4>Example Request</h4>
  <pre>

  </pre>

  <h4>Example Response</h4>
  <pre>
    HTTP/1.0 200 OK
  </pre>


  <h3 id="ping">GET /api/searcg/trackdb/:id</h3>
  <p>
  </p>
  <p>
  </p>

  <h4>Resource Information</h4>
  <table class="table" style="width: auto;">
    <tbody>
      <tr>
        <th>Response formats</th>
	<td>JSON</td>
      </tr>
      <tr>
        <th>Authentication</th>
	<td>No</td>
      </tr>
      <tr>
        <th>Rate Limited</th>
	<td>No</td>
      </tr>
    </tbody>
  </table>

  <h4>Parameters</h4>
  <p>None</p>

  <h4>Example Request</h4>
  <pre>
  </pre>

  <h4>Example Response</h4>
  <pre>
    HTTP/1.0 200 OK
  </pre>


  </div>
</div>
