<!--<div class="page-header">-->
<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a>Docs</a></li>
      <li class="active">Track Hub Management</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" style="margin-top: 25px;">
    <div id="search-sidebar-left">
        <div class="panel panel-primary">
	  <div class="panel-heading">Track Hub Management Docs</div>
          <div class="panel-body">
	    <ul class="nav nav-list">
	      <li><a style="font-weight: bold;">Overview</a>
	        <ul>
		  <li><a href="#registration">Client Registration</a></li>
		  <li><a href="#management">Track Hub Management</a></li>
		  <li><a href="#submission">The Submission Process</a></li>
		</ul>
	      </li>
	      <li><a href="[% c.uri_for('/docs/management/assembly_support') %]">Supported Genome Assemblies</a></li>
	      <li><a href="[% c.uri_for('/docs/management/modelling') %]">Modelling Track Hubs</a></li>
	      <li><a href="[% c.uri_for('/docs/api/registration') %]">REST API</a></li>
	      <li><a href="[% c.uri_for('/docs/management/dashboard') %]">Dashboard</a></li>
	    </ul>
          </div> 
	</div>
    </div> <!-- sidebar -->
  </div>

  <div class="col-sm-9" style="text-align: justify; text-justify: inter-word;">

    <h2>Managing Track Hubs with the Registry - An Overview</h2>

    <div class="alert alert-warning alert-dismissible" role="alert">

      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>
        This section of the documentation is for track hub creators who want to register their data hubs with the Registry.
      </p>
      <p>
        Go to <a href="[% c.uri_for('/docs/search') %]">search documentation</a> if you only intend to explore interesting data hubs.
      </p>
    </div>

    <h3 id="registration">Client Registration</h3>
    <p>
      You must have an account with the registry before submitting and managing any data. To create an account, go to the <a href="[% c.uri_for('/user/register') %]" target="_blank">registration page</a>.
    </p>
    
    <p>
      The client registration interface captures basic contact information (i.e. first/last name, institute, email) of the person responsible of managing the track data hubs with the registry, together with credentials necessary to use the REST API to register and update track data hubs with the registry, and to sign in and access the registry web dashboard. The interface also asks to configure some options that control <a href="[% c.uri_for('/docs/management/dashboard#monitoring') %]">automatic track hub monitoring</a> by the registry.
    </p>

    <p>
      Upon registration, you're immediately logged in into the system and presented the <a href="[% c.uri_for('/docs/management/dashboard') %]">dashboard</a>.
    </p>

    <h3 id="management">Track Hub Management</h3>
    <p>
      Once you <a href="[% c.uri_for('/user/register') %]" target="_blank">Sign Up</a>, you can start using the <a href="[% c.uri_for('/docs/api/registration') %]">Registration API</a>, which allows you to use <a href="[% c.uri_for('/docs/api/registration#workflow') %]">RESTful workflows</a> to manage your track data hubs with the Registry.
    </p>
    
    <p>
      Using this API, you can:
      <ul>
          <li><a href="[% c.uri_for('/docs/api/registration/workflow/thregister') %]">register track data hubs</a> with the registry;</li>
	  <li><a href="[% c.uri_for('/docs/api/registration/workflow/thlist') %]">list</a> the all your registered track hubs or data bases;</li>
	  <li><a href="[% c.uri_for('/docs/api/registration/reference') %]">get/update/delete</a> a given track hub in the registry</li>
      </ul>
    </p>

    <p>
      Alternatively, you can use the <a href="[% c.uri_for('/docs/management/dashboard') %]">dashboard</a> on the registry web interface to query the status of your registered track hubs, or view and delete them from the registry.
    </p>

    <h3 id="submission">The Submission Process</h3>
    <p>
      The figure below highlights the main steps involved when submitting a track data hub to the Registry.
    </p>

    <img src="/static/img/submission.png" style="margin-bottom: 30px;" />

    <p>
      The process begins with your client authenticating itself and submitting the URL of a remote, publicly accessible track hub using one of the Registry <a href="[% c.uri_for('/docs/api/registration') %]">REST APIs</a>. 
    </p> 
    <p>
      The server then runs the <a target="_blank" href="https://genome.ucsc.edu/goldenPath/help/hgTrackHubHelp.html#Debug">hubCheck</a> program from UCSC to check that the files in the hub are correctly formatted. It is indeed a good idea to test your hub with this program before submitting it in order to avoid an unnecessary rejection.
    </p>
    <p>
      If the hub passes the validation above, it is parsed into its various components, mainly the various assembly names and the corresponding data configuration and directories. In order to correctly identify each assembly, the Registry tries to map their names (as declared in the genomes.txt file) to valid INSDC accession numbers. See <a href="[% c.uri_for('/docs/management/assembly_support') %]">Genome Assembly Support</a> for a discussion about the motivation and details of this approach.
    </p>
    <p>
      If all genomes are mapped, the different genome assembly database configuration files (i.e. trackDb.txt) are converted each one into a separate JSON document. This is an important aspect of the whole submission process. The Registry does not store a representation of a track hub as a whole; a track hub is implicitly represented by its set of trackDbs which store configuration/visualisation options for the different assemblies managed by the hub. See <a href="[% c.uri_for('/docs/management/modelling') %]">Modelling Track Hubs</a> for more information about the design principles.
    </p>
    <p> 
      Each one of these trackDB JSON documents is validated against a <a href="[% c.uri_for('/docs/management/modelling#schema') %]">schema</a> describing the structure and content of valid trackDb JSON documents. If validation succeeds for all of them, the documents are finally stored in the Registry and are immediately available for search.
    </p>   
  </div>
</div>
