<!--<div class="page-header">-->
<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a>Docs</a></li>
      <li class="active">Track Hub Management</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" style="margin-top: 25px;">
    <div id="search-sidebar-left">
        <div class="panel panel-primary">
          <div class="panel-heading">Track Hub Management Docs</div>
          <div class="panel-body">
            <ul class="nav nav-list">
              <li><a href="[% c.uri_for('/docs/management/overview') %]">Overview</a></li>
              <li><a style="font-weight: bold;">Supported Genome Assemblies</a>
                <ul>
                  <li><a href="#mapping">Mapping Track Hub Assembly Names to INSDC Accessions</a></li>
                </ul>
              </li>
              <li><a href="[% c.uri_for('/docs/management/modelling') %]">Modelling Track Hubs</a></li>
              <li><a href="[% c.uri_for('/docs/api/registration') %]">REST API</a></li>
              <li><a href="[% c.uri_for('/docs/management/dashboard') %]">Dashboard</a></li>
            </ul>
          </div> 
        </div>
    </div> <!-- sidebar -->
  </div>

  <div class="col-sm-9" style="text-align: justify; text-justify: inter-word;">

    <h2>Genome Assembly Support</h2>
    
    <p>
      In order to correctly catagorise TrackHubs into the Track Hub Registry it is essential to tag hubs against the right assembly version during the submission process. The Track Hub Registry attempts to normalise any given assembly name into a suitable <a href="https://www.ebi.ac.uk/ena/browse/genome-assembly-database" target="_blank">Genome Collection Accession (GCA)</a> during submission e.g. the UCSC assembly name <strong>hg19</strong> is automatically converted into <a href='http://www.ebi.ac.uk/ena/data/view/GCA_000001405.1' target="_blank">GCA_000001405.1</a>. All hubs registered with the Track Hub Registry should have a GCA available in the Genome Assembly Database to map to and is a current requirement of submitting to the registry. All modern assemblies should conform to this requirement.
    </p>
    
    <p>
      The Track Hub Registry promotes interoperability of hubs in all major genome browsers. As such we recommend you use the UCSC assembly name where available.
    </p>
    
    <h3 id="mapping">Mapping Track Hub Assembly Names</h3>
      
    <h4 id="inucsc">When a Genome is Available in the UCSC Genome Browser</h4>
    <p>
      If your genome is in UCSC you should use the UCSC accession in your <strong>genomes.txt</strong> file as shown below:
      
      <pre>
        <strong>genome</strong> hg19
        <strong>trackDb</strong> hg19/trackDb.txt
      </pre>
      
      The Track Hub Registry will normalise this into a suitable GCA accession. For genomes with multiple patch releases i.e. <a href="http://www.ncbi.nlm.nih.gov/projects/genome/assembly/grc/human#GRCh37" target="_blank">GRCh37/hg19</a>, <a href="http://www.ncbi.nlm.nih.gov/projects/genome/assembly/grc/human#GRCh38" target="_blank">GRCh38/hg38</a> and <a href="http://www.ncbi.nlm.nih.gov/projects/genome/assembly/grc/mouse#GRCm38" target="_blank">GRCm38/mm10</a> we normalise to the original GCA used for that assembly version.
    </p>
    
    <h4 id="notinucsc">When a Genome is not Available in the UCSC Genome Browser</h4>
    <p>
      If you genome is not in UCSC we recommend you use the assembly name as present in the GCA record. You can find this either by querying the <a href="http://www.ncbi.nlm.nih.gov/genome/browse/" target="_blank">NCBI Genome list</a> for your species of interest and clicking on the <storng>Organism/Name</strong> or <strong>Assemblies</strong> links.
    </p>
    
    <p>
      For example <em>Arabidopsis thaliana</em> is a genome not available in UCSC. Searching at NCBI will lead you to the active assembly name <strong>TAIR10</strong> and the accession <a href="https://www.ebi.ac.uk/ena/data/view/GCA_000001735.1" target="_blank">GCA_000001735.1</a>. Your <strong>genomes.txt</strong> file should be structured as shown below:
      
      <pre>
        <strong>genome</strong> TAIR10
        <strong>trackDb</strong> TAIR10/trackDb.txt
      </pre>
    </p>
    
    <p>
      When submitting the hub to the Track Hub Registry you must tell the registry the mapping between TAIR10 and GCA_000001735.1 like so:
      <pre>
{ 
  "url" : "http://www.domain.com/test/hub.txt", 
  "assemblies": {
    "TAIR10": "GCA_000001735.1"
  }
}
      </pre>
      More details are available from the <a href="[% c.uri_for('/docs/api/registration/reference#post_trackhub_msg_format') %]">submissions API reference</a>.
    </p>
  </div>
</div>
