<div class="row">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>Search</li>
      <li class="active">[% trackdb.doc.hub.name %] - [% trackdb.doc.assembly.accession %]</li>
    </ul>
  </div>
</div>

<div class="page-header">
  <span class="label label-primary">[% trackdb.doc.hub.shortLabel %]</span>
  <span class="label label-success">[% trackdb.doc.species.scientific_name %]</span>
  <span class="label label-info">[% trackdb.doc.assembly.name %]</span>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">General Info</div>
      [% tracks = trackdb.status.tracks %]
      <div class="panel-body">
        <div style="float: right;">
	[% status = trackdb.status_message; %]
	[% hub = trackdb.hub %]
	[% urls = hub.browser_links %]
	[% tooltip = 'Hub is OK to load' %]
	[% IF hub.ok == 0 %]
	  [% status = 'Remote Data Unavailable' %]
	[% END %]
	[% status_last_update = trackdb.status_last_update(1); %]
	[% label_class = 'label-success' %]
	[% IF status == 'Unchecked' %]
	[%   label_class = 'label-warning' %]
	[%   tooltip = 'The registry is not aware of whether this hub works or not' %]
	[% ELSIF status.match('Unavailable') %]
	[%   label_class = 'label-danger' %]
	[%   tooltip = 'The registry has verified this hub is not reachable' %]
	[% END %]
	  <span class="label [% label_class %]" style="padding-bottom: 1px;"><a href="[% c.uri_for(c.controller('docs').action_for('results_page')) %]#status" style="text-decoration: none; color: inherit;" data-toggle="tooltip" title="[% tooltip %]">[% status %]</a></span><br/>
	[% IF status != 'Unchecked' %]
	  <small>[% status_last_update %]</small><br/>
	[% END %]
	<br/>
	[% IF status == 'All is Well' || status == 'Unchecked' %]
	  [% IF urls %]
	  <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">View in Genome Browser <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
	      [% IF urls.ensembl %]
              <li><a target="_blank" href="[% urls.ensembl %]">Ensembl</a></li>
	      [% END %]
	      [% IF urls.biodalliance %]
              <li><a target="_blank" href="[% urls.biodalliance %]">Embedded View (Biodalliance)</a></li>
	      [% END %]
	      [% IF urls.vectorbase %]
              <li><a target="_blank" href="[% urls.vectorbase %]">VectorBase</a></li>
	      [% END %]
	      [% IF urls.ucsc %]
              <li><a target="_blank" href="[% urls.ucsc %]">UCSC</a></li>
	      [% END %]
            </ul>
          </div>
	  [% END %]
	[% END %]
	</div>
        <ul class="list-group col-sm-6">
          <!--<li class="list-group-item">Total number of tracks <span class="badge">[% tracks.total %]</span></li>-->
          <li class="list-group-item">Remote data tracks <span class="badge">[% tracks.with_data.total %]</span></li>
	  <li class="list-group-item">Data type: <span class="label label-default">[% trackdb.type %]</span></li>
	  <li class="list-group-item">
	  File type(s): <!--[% trackdb.file_type.join(', ') %]-->
	    <ul>
	    [% FOREACH file_type IN trackdb.file_type %]
	      <li>[% file_type %] <span style="padding-left: 1em"><span class="badge">[% trackdb.doc.file_type.$file_type %]</span></span></li>
	    [% END %]
	    </ul>
	  </li>
        [% IF trackdb.doc.source %]
          <li class="list-group-item">Source URL: <a target="_blank" role=button" class="btn btn-xs btn-default" data-toggle="popover" title="View source URL" data-content="" href="[% trackdb.doc.source.url %]">View</a></li>
	[% END %]
	</ul>	
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Hub</div>
      <div class="panel-body">	
        <p><strong>Name</strong>: [% hub.name %]</p>
	<p><strong>Short Label</strong>: [% hub.shortLabel %]</p>
	<p><strong>Long Label</strong>: [% hub.longLabel %]</p>
	<p>
	  <strong>Assembly Hub</strong>:
	  [% IF hub.assembly %]
	    <span class="glyphicon glyphicon-ok">
	  [% ELSE %]
            <span class="glyphicon glyphicon-remove">
	  [% END %]
	</p>
	  [% IF hub.url %]
	<p><strong>Public URL</strong>: <a target="_blank" role=button" class="btn btn-xs btn-default" data-toggle="popover" title="View source URL" data-content="" href="[% trackdb.doc.hub.url %]">View</a></p>
	  [% END %]
	</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Species</div>
      <div class="panel-body">
        [% species = trackdb.doc.species %]
        <p>
	  <a target="_blank" href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=[% species.tax_id %]">Taxonomy</a> <span class="badge">[% species.tax_id %]</span><br/>
	  <strong>Scientific name</strong>: <em>[% species.scientific_name %]</em><br/>
	  [% IF species.common_name %]
	  <strong>Common name</strong>: [% species.common_name %]
	  [% END %]
	  <hr/>
        </p>
	<p><strong>Assembly Information</strong></p>
      </div>
      <table class="table table-condensed table-hover table-striped">
        <thead>
	  <tr>
	    <th>Accession</td>
            <th>Name</th>
            <th>Long Name</th>
	    <th>Synonyms</th>
	  </tr>
        </thead>
	<tbody>
	  [% assembly = trackdb.doc.assembly %]
	  <tr>
	    <td>
	    [% IF assembly.accession.match('GC') %]
	    <!--  <a target="_blank" href="http://www.ncbi.nlm.nih.gov/assembly/?term=[% assembly.accession %]">[% assembly.accession %]</a>-->
	      <a target="_blank" href="http://www.ebi.ac.uk/ena/data/view/[% assembly.accession %]">[% assembly.accession %]</a>
	    [% ELSE %]
	      [% assembly.accession %]
	    [% END %]
	    </td>
	    <td>[% assembly.name %]</td>
	    <td>[% assembly.long_name %]</td>
	    <td>[% assembly.synonyms %]</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>

[% IF tracks.with_data.total_ko > 0 %]
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Error Log</div>
      <div class="panel-body">
        <p>
	  [% tracks.with_data.total_ko %] / [% tracks.with_data.total %] tracks linked to remote data have problems.
	</p>
	[% IF tracks.with_data.total_ko > 10 %]
	<p>Showing the first 10:</p>
	[% END %]
      </div>
      <!-- Table -->
      <table class="table table-condensed table-hover table-striped">
        <thead>
	  <tr>
	    <th>#</td>
            <th>Track Name</th>
            <th>Remote Data URL</th>
	    <th>Error</th>
	  </tr>
        </thead>
	<tbody>
	[% i = 1 %]
        [% FOREACH t IN tracks.with_data.ko.keys.sort %]
	  [% LAST IF i > 10; %]
	  <tr>
	    <td>[% i %]</td>
	    <td>[% t %]</td>
	    <td>[% tracks.with_data.ko.$t.0 %]</td>
	    <td>[% tracks.with_data.ko.$t.1 %]</td>
	  </tr>
	  [% i = i + 1 %]
	[% END %]
	</tbody>
      </table>
    </div>
  </div>
</div>
[% END %]