[% META title = 'TrackHub List' %]
[% PROCESS user/user_nav.tt %]

<div class="page-header">
  <h3>TrackHubs for user [% user.username %]</h3>
</div>
<div class="row">
  <table id="books" class="table table-bordered table-striped tablesorter" summary="The list of all books">
    <thead>
    <tr>
      [% FOR column IN columns %]
      <th scope="col">[% column.as_label %]</th>
      [% END %]
      <th/>
    </tr>
  </thead>
  <tbody>
    [% FOR book IN books %]
    <tr>
      [% FOR column IN columns %]
      <td>[% book.$column | html %]</td>
      [% END %]
      <td>
        <div class="btn-group">
        <a class="btn btn-mini" href="[% '/bookdb/book/' _ book.id  %]/[% book.title.seo_friendly %]" rel="tooltip" title="View"><i class="icon-search"></i></a>
        <a class="btn btn-mini" href="[% '/bookdb/book/' _ book.id _ '/edit' %]" rel="tooltip" title="Edit"><i class="icon-pencil"></i></a>
        <a class="btn btn-mini" href="[% '/bookdb/book/' _ book.id _ '/delete' %]" rel="tooltip" title="Delete"><i class="icon-trash"></i></a>
        </div>
      </td>
    </tr>
    [% END %]
  </tbody>
  </table>
</div>
