[% META title = 'TrackHubs' %]
[% PROCESS user/user_nav.tt %]

<div class="page-header">
  <h3>Submit/Update Track Hubs</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Introducing the REST API...
    </div>

  </div>
</div>
