[% META title = 'TrackHubs' %]
[% PROCESS user/user_nav.tt %]

<div class="page-header">
  <h3>Track Collection: [% item.id %]</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    [% trackhub.id %]
  </div>
</div>
